:root {
  --salmon-pink: #ffefeb;
  --light-yellow: #fafae4;
  --orange: #d68c45;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-yellow);
}

#root {
  background: url(./images/cube-background.png);
  display: grid;
  grid-template-columns: auto;
}

.episode-container {
  margin: 60px;
  margin-bottom: 0;
  background: var(--salmon-pink);
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 5px 2px var(--orange);
}

.episode-name {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

/* h2 {
} */

.episode-info {
  margin-bottom: 15px;
}

img {
  width: 100%;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media screen and (min-width: 750px) {
  #root {
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 30px;
  }
  .episode-container {
    margin: 0;
    padding: 30px;
  }
}

@media screen and (min-width: 1000px) {
  #root {
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 30px;
  }
  .episode-container {
    margin: 0;
    padding: 30px;
  }
}
